{% extends "base/base.html" %}

{% block title %}Página Principal{% endblock %}

{% block navbar %}
    {% include "base/navbar.html" %}
{% endblock %}

{% block content %}
    <h1>¡Bienvenido a mi sitio web!</h1>
    <div class="w-screen text-center my-8">
        <h1 class="text-4xl my-8"> Crea cliente</h1>

        <form method="POST" class="flex flex-col justify-items-start">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Agregar </button>
        </form>

  
    </div>
{% endblock %}
 
  
    
 