<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polilla en el Bosque de las Finanzas</title>
</head>
<body>
    <h1> Lista de clientes menores de edad</h1>
    <ul>
        {% for client in clients %}
        <li>{{client.id}} </li>
        <li>{{client.rut}} </li>
        <li>{{client.nombres}} </li>
        <li>{{client.apellidos}} </li>
        <li>{{client.fecha_nacimiento}} </li>
        <li>{{client.telefono}} </li>
        <li>{{client.date_created}} </li>
        {% endfor %}
    </ul>
</body>
</html>