{% block navbar %}
<nav class=" w-screen h-16 flex justify-center items-center space-x-4 ">
    <!-- Elementos del navbar aquí -->
    <div class="w-1/6 h-full items-center justify-center  ">
        <div class="h-full text-center pt-3 ">
            <!-- <img src="asd.png" alt="img"> -->
        </div>
    </div>
    <div class="w-3/6   ">
        <ul class="flex justify-around">
            <li class="text-blue-500 text-2xl"><a href="">Inicio</a></li>
            <li class="text-blue-500 text-2xl"><a href="">Clientes</a></li>
            <li class="text-blue-500 text-2xl"><a href="">Balance</a></li>
            <li class="text-blue-500 text-2xl"><a href="">En construccion</a></li>
        </ul>
    </div>
    <div class="w-2/6 h-full flex  ">
        
        <div class="w-2/6   "></div>
        <div class="w-28 flex justify-center items-center h-full ">Bienvenid@</div>
        <div class="w-3/6 flex ml-4 justify-start items-center h-full  "> Amaya Contreras Sanchez</div>
        <div class="w-16 h-12 my-2 text-center items-center mr-6 rounded-full border-2 "> <img  src="avatar.png" alt="img"></div>
        
    </div>
</nav>
{% endblock %}